.aboutMobile {
	display: none;
}

.about {
	padding-top: 30px;

	p {
		text-align: justify;
	}
}

.skillsItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills {
	h2 {
		margin-top: 80px;
		margin-bottom: 40px;
	}

	h3 {
		margin-right: 0;
		font-size: 0.8rem;
	}
}

.skill {
	text-align: center;
	width: 15%;
	margin: 20px 0;

	.skillIcon {
		color: black;
		font-size: 2.5rem;
		margin-bottom: 15px;
	}
}
