.heroSection {
	height: 500px;
	width: 100%;
}

.heroText {
	background: rgba(255, 255, 255, 0.8);
	width: 38%;
	float: right;
	margin: 8% 30px;
	padding: 20px;
}

#portfolioSection, #contactSection {
	padding-top: 1px;
}